<header class="navbar">
  <div class="container navbar__inner">

    <a routerLink="/" class="brand">
      <span class="brand__icon">
        <svg viewBox="0 0 24 24">
          <path
            d="M19.8 4.2C14.2 4.1 9.6 6 7.1 9.7c-1.8 2.7-1.9 5.7-1.2 8.1M19.8 4.2c-.1 5.6-2 10.1-5.7 12.6-2.5 1.7-5.3 1.9-7.6 1.3M19.8 4.2 6.1 17.9"
          />
        </svg>
      </span>

      <span>CropDeal</span>
    </a>


    <nav class="nav-links">
      <a routerLink="/marketplace">
        Marketplace
      </a>

      <a routerLink="/" fragment="how-it-works">
        How it works
      </a>

      <a routerLink="/" fragment="farmers">
        For farmers
      </a>
    </nav>


    <div class="nav-actions">

      @if (currentUser; as user) {

        <div class="user-info">

          <div class="user-avatar">
            {{ user.firstName.charAt(0) }}
          </div>

          <div class="user-details">
            <strong>
              {{ user.firstName }} {{ user.lastName }}
            </strong>

            <span>
              {{ displayRole }}
            </span>
          </div>

        </div>

        <button
          type="button"
          class="logout-button"
          (click)="logout()"
        >
          Logout
        </button>

      } @else {

        <a
          routerLink="/login"
          class="sign-in"
        >
          Sign in
        </a>

        <a
          routerLink="/register"
          class="btn btn-primary"
        >
          Get started
        </a>

      }

    </div>

  </div>
</header>